@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
  /* --------------HEADER------ */
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu-conteiner {
    display: none;
  }
  /* .mobile-menu-close {
    display: none;
  } */
  
.page-header > .conteiner {

  padding-top: 16px;
  padding-bottom: 16px;
}
  .page-header > .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-nav {
    display: flex;
    gap: 120px;
  }
  .menu {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colore-menu-link);
    gap: 40px;
  }

  .address .link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  color: var(--color-text);
    margin-left: auto;
     cursor: pointer;
  }
  .address .mail,
  .address .tel {
  font-size: 0;
  }
  /* .address .link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
 
}

 */
  .tel {
    margin-top: 12px;
  }

  .menu .link,
  .mail .link,
  .tel .link {
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }
  .menu .link:hover,
  .menu .link:focus,
  .menu .link:active,
  .mail .link:hover,
  .mail .link:focus,
  .mail .link:active,
  .tel .link:hover,
  .tel .link:focus,
  .tel .link:active {
    color: var(--colore-menu-hfa);
  }
  .ativ {
    position: relative;
  }
  .current {
    color: var(--colore-menu-hfa);
  }
  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;

    background: var(--color-activ-line);
    border-radius: 2px;
  }
  /* -----section HERO-------- */
  .hero {
    /* max-width: 768px; */
    height: 436px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg-tablet.jpg);
  }
   @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
   background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg-tablet@2x.jpg);
  }
} 

  .hero .title-h-one {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
  }
.hero .button {
  margin-top: 36px;
}
  /* ------section ABOUT------- */
  .about .item {
    width: calc((100% - 24px) / 2);
  }
  .about .list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .about .title-h-three {
  text-align: start;
 
}


  /* -----section WORK---------- */

  .our-team .list {
    row-gap: 64px;
    column-gap: 24px;
  }

  /* ----section CUSTOMERS------- */

  .customers-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .customers-item {
    width: 168px;
  }

  .customers-link {
    width: 168px;
  }
 /* -----------modal--------- */
 .modal {
    width: 408px;
    height: 586px;
  }

  @media screen and (max-width: 1157px) {
    .customers .conteiner {
      width: 582px;
    }
  }
  /* ---------footer------------- */
  .footer-input-email {
    width: 264px;
  }
   .footer-btn-subscribe {
    margin-left: 24px;
  } 

  @media screen and (max-width: 1157px) {
    .footer > .conteiner {
      flex-wrap: wrap;
    }
    .footer .conteiner {
      width: 582px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
    }
  }
  .footer-text {
    max-width: 264px;
  }
  /* -----------modal---------
  .modal {
    width: 408px;
    height: 586px;
  } */
  /* ------Porfolio---------- */
  .nav {
  padding-bottom: 120px;
  padding-top: 96px;
}
.button-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 72px;
  gap: 24px;
}
.button {
  border-color: var(--color-button-border);
  padding: 12px 24px;
  border: transparent;
}

.card-box {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-item {
  width: calc((100% - 24px) / 2);
}
.card-item .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

}
